.main-body
{
    /* background-image: url("/images/slider/bg3.jpg"); */
    background-image: url("/images/slider/bgLogin.jpg");
    padding-top: 50px;
    padding-bottom: 100px;
    background-size: cover;
}



.card {

    /* background-color: rgba(0, 0, 0, 0.5) !important; */
    background-color: skyblue;
}


.card-header h3 {
    color: white;
}


.input-group-prepend span {
    width: 50px;
    /* background-color: #FFC312; */
    /* background-color: lightgreen; */
    background-color: lightskyblue;
    color: black;
    border: 0 !important;
}



.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: lightblue;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: #FFC312;
}

.links {
    color: white;
}


.login-box {
    margin-top: 30px;
}




.instr-card-header
{
    padding:    12px;
    text-align: left;
    color:  white;
    font-size: 16px;

}


.instr-card-body
{
    padding:    0px;
    text-align: left;
    color:  white;
    font-size: 13px;

}

.instr-card-body ul li
{
    background: white;
    padding:    0px 0px 0px 15px;
    text-align: left;
    color:  black;
    font-size: 12px;

}


ul
{
    line-height: 2.0em;
}

.list-group-item {
    font-size: 13.5px !important;
}
